/* Interactive Emblem */
.interactiveEmblem {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000080;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.interactiveEmblem div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform .25s;
  pointer-events: none;
  cursor: pointer;
}
.interactiveEmblem div div {
  position: relative;
  height: 50%;
  width: 50%;
  transition: transform .25s ease;
  pointer-events: auto;
}
.interactiveEmblem div:has(div:hover) {
  transform: scale(1.1);
  filter: brightness(1.25);
}
.interactiveEmblem div:has(div:active) {
  transition: none;
  transform: scale(.9);
  filter: brightness(.75);
}
.interactiveEmblem .base {
  background-image: url("/media/emblem/base.png");
}
.interactiveEmblem .flower {
  background-image: url("/media/emblem/flower.png");
}
.interactiveEmblem .county {
  background-image: url("/media/emblem/county.png");
}
.interactiveEmblem .person {
  background-image: url("/media/emblem/person.png");
}
.interactiveEmblem .grad {
  background-image: url("/media/emblem/grad.png");
}
.interactiveEmblem .flower div {
  top: 0;
}
.interactiveEmblem .county div {
  transform: translate(100%, 0);
}
.interactiveEmblem .person div {
  transform: translate(0, 100%);
}
.interactiveEmblem .grad div {
  transform: translate(100%, 100%);
}
/* On Hover */
.interactiveEmblem .base:has(.interactiveEmblem .base .div:hover) {
  transform: scale(1.1);
}
/* Sections */
.main {
  height: auto;
  width: 100%;
  background-image: url("/media/bg1.jpg");
  background-size: cover;
  background-position: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  border-bottom: 1rem solid #6F54A4;
  z-index: 2;
}
.main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #ffffffbb;
}
.main .infoContainer {
  margin: 5rem auto;
  height: auto;
  min-width: 15rem;
  max-width: 40rem;
}
.main .infoContainer h1 {
  font-weight: 200;
  overflow-wrap: break-word;
  hyphens: manual;
}
.main .infoContainer p {
  font-weight: 300;
  color: #6F54A4;
}
.main .iconContainer {
  position: relative;
  aspect-ratio: 1;
  margin: 10rem auto;
  width: 30rem;
  background-image: url("/media/DFF-Shield.webp");
  background-size: contain;
  transition: transform .25s, filter .25s ease, scale .25s ease;
  cursor: pointer;
  z-index: 1;
}
.main .iconContainer:hover {
  scale: 1.1;
}
.main .iconContainer:active {
  transition: none;
  scale: .9;
}
.secondary {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-image: url("/media/bg2.jpg");
  background-size: cover;
  background-position: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  border-bottom: 1rem solid #6F54A4;
}
.secondary .videoContainer {
  margin: 10rem 0;
  height: 20rem;
  width: 20rem;
}
.tertiary {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-image: url("/media/bg3.jpg");
  background-size: cover;
  background-position: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  border-bottom: 1rem solid #6F54A4;
}
.tertiary .container {
  margin: 10rem 0;
  height: 20rem;
  width: 20rem;
}